/* Login.css */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 50px; /* Espacio para el botón */
}

.toggle-password {
    position: absolute;
    right: 10px; /* Ajuste a la derecha dentro del input */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 0.9em;
    color: blue;
    display: flex;
    align-items: center;
}
.remember-me {
    margin-top: 10px;
}

.remember-me input[type='checkbox'] {
    margin-right: 5px;
}