/* Login.css */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    font-weight: 700;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    max-width: 150px; /* Limita el tamaño máximo de la imagen */
    width: 100%; /* La imagen puede ser más pequeña pero nunca más grande que el contenedor */
    margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
}

.image img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="checkbox"]{
    cursor: pointer;
}

.password-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-password {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #323f00;
}

button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(50, 63, 0);
    color: white;
    cursor: pointer;
}

p {
    color: red;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3px;
    width: 100% !important;
}

.btn{
    box-sizing: border-box;

}

.botones .btn-login {
    background-color:rgb(50, 63, 0);
    color: white;
}

.btn-login:hover {
    background-color: rgb(38, 48, 0) !important;
}

.botones .btn-register {
    box-sizing: content-box;
    background-color: #f6f6f8;
    color: black;
    border: none;
}

.botones .btn-register:hover {
    background-color: #f6f6f8 ; 
    box-shadow: 0 0 10px rgba(50, 63, 0, 0.3) ; 
}